                        @media (max-width: 979px) {
                        .container_left {
                            /* float: left; */
                            /* margin: 0px; */
                            /* padding: 0px; */
                            text-align: center;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                        .container_left p {
                            font-size: 13px;
                            line-height: 50px;
                        }
                        .container_left img {
                            margin-left: -10px;
                        }
                    }
                    
                    @media (max-width: 1273px) {
                        .navbar-nav {
                            text-align: center;
                            /* margin: 0px auto; */
                            margin-left: 200px;
                        }
                    }
                    
                    @media (max-width: 1300px) {
                        .banner_seconds_left p {
                            margin: 0px auto;
                            margin-top: 5%;
                        }
                        .banner_second_right p {
                            margin: 0px auto;
                            margin-top: 5%;
                        }
                    }
                    
                    @media (max-width: 1048px) {
                        .banner_second_left {
                            margin-top: 120px;
                        }
                        .banner_seconds_right {
                            margin-top: 60px;
                        }
                    }
                    
                    @media (max-width: 1070px) {
                        .navbar-nav {
                            text-align: center;
                            /* margin: 0px auto; */
                            margin-left: 100px;
                        }
                    }
                    
                    @media (max-width: 994px) {
                        .container_right {
                            width: 100%;
                            margin-bottom: 20px;
                            text-align: center;
                        }
                        .container_right input {
                            width: 80%;
                            height: 40px;
                        }
                        .banner_bottom_center_content,
                        .banner_bottom_right {
                            margin: 20px 0 0;
                        }
                    }
                    
                    @media (max-width: 752px) {
                        .contact h3 {
                            font-size: 21px;
                            color: #83BFA6;
                            text-align: center;
                            width: 200px;
                            border-bottom: 7px double #DEDEDE;
                            margin: 0 auto;
                            padding-bottom: 15px;
                            margin: 3em auto 2em;
                        }
                        .banner_bottom {
                            margin-top: 20px;
                        }
                    }
                    
                    @media (max-width: 700px) {
                        .navbar-nav {
                            width: 50%;
                            text-align: center;
                            margin: 0px auto;
                            /* margin-left: 1px; */
                        }
                        .logo {
                            text-align: center;
                            margin-top: 20px;
                            padding-bottom: 2em;
                        }
                        .logo a {
                            font-size: 4em;
                            color: #fff;
                            letter-spacing: 1px;
                            text-decoration: none;
                        }
                        .famous_saying {
                            width: 80%;
                            text-align: center;
                            margin: 0px auto;
                            padding-bottom: 50px;
                            color: #fff;
                            font-size: 15px;
                        }
                        .banner_second_right h3 {
                            padding-top: 20px;
                            font-size: 40px;
                            color: #D2D2D2;
                            margin: 0;
                            letter-spacing: 5px;
                        }
                        .banner_second_right p {
                            color: #999;
                            line-height: 1.8em;
                            font-size: 14px;
                            width: 100%;
                            margin: 2em 0 0;
                        }
                        .banner_second_left p {
                            color: #999;
                            line-height: 1.8em;
                            font-size: 14px;
                            width: 100%;
                            margin: 2em 0 0;
                        }
                        @media (max-width: 700px) {
                            .banner_seconds_left p {
                                color: #999;
                                line-height: 1.8em;
                                font-size: 14px;
                                width: 100%;
                                margin: 2em 0 0;
                            }
                            .banner_seconds_left h3 {
                                padding-top: 20px;
                                font-size: 40px;
                                color: #D2D2D2;
                                margin: 0;
                                letter-spacing: 5px;
                            }
                            .banner_bottom1 h3 {
                                font-size: 17px;
                            }
                            .effect6 {
                                line-height: 30px ! important;
                                padding: 2px 20px;
                                background: #83BFA6;
                                font-size: 1em;
                                border-radius: 1;
                            }
                            .more {
                                /* margin: auto; */
                                text-align: center;
                            }
                            .banner_bottom1_right {
                                margin: 2em 0 0;
                            }
                            .banner_bottom_box h1 {
                                font-size: 1.3em;
                            }
                            .contact i {
                                font-size: 20px;
                            }
                            .contact h4 {
                                font-size: 20px;
                            }
                            .famous_saying p {
                                font-size: 13px;
                            }
                        }